<p>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Temática: <%= quiz.tema %> <p>
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<input type="submit" value="Enviar" />	
</form>
</p>

